#gallery{
  margin-left:7%;
}
.thumb{
  position:relative;
  float:left;
  width:250px;
  height:250px;
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size:cover;
  padding-left:3px;
  padding-bottom:3px;
}
.thumb:hover{
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  transform:scale(1.1);
  text-decoration:none;
}

#kids > p{
  font-family:workSansLight;
  font-size:1.3em;
  margin-right:20px;
}
#kids > p > a{
  color:#f3f3f3;
}
address{
  font-family:workSansLight;
  font-size:1.5em;

}
.art{
  margin-top:100px;
  margin-left:100px;
  margin-bottom:100px;
}
.kArt{
  position:relative;
  float:left;
  width:200px;
  height:200px;
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size:cover;
  padding-left:3px;
  padding-bottom:3px;
}
.kArt:hover{
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  transform:scale(1.1);
  text-decoration:none;
}
form{
  text-align:center;
  margin-bottom:20px;
}
button{
  font-size:1.5em !important;
  background-color:#7fff00;
}
.pup{
  float:left;
}
.jlogo{
  float:right;
  margin-right:20px;
}
.s{
  text-align:center;
}
