body{
  margin:0;
}
header > img{
  width:100%;
  margin-top:-100px;
}
.pup{
  position:absolute;
  z-index:2;
  height:25%;
  width:25%;
  bottom:0;
  left:5%;
}
#flag{
  opacity:.5;
  z-index:-1;
  height:500px;
  width:100%;
}
h2{
  color:#d50002;
  z-index:2;
  position:absolute;
  font-size:2em;
  left:40%;
  bottom:30%;
}
b{
  font-size:3em;
}
/*h3{
  color:#D50002;
  font-size:2em;
  z-index:3;
  position:absolute;
  right:20%;
  bottom:20%;
}*/
