/*body{
  margin:0;
}
header > img{
  width:100%;
  margin-top:-100px;
}
.pup{
  position:absolute;
  z-index:2;
  height:25%;
  width:20%;
  bottom:20%;
  left:7%;
}
#flag{
  opacity:.5;
  z-index:-1;
  height:500px;
  width:100%;
}
h2{
  color:#d50002;
  z-index:2;
  position:absolute;
  font-size:2em;
  left:35%;
  bottom:20%;
}
b{
  font-size:3em;
}
.kids{
  position:absolute;
  bottom:10%;
  left:25%;
}
.parents{
  position:absolute;
  right:25%;
  bottom:11%;
}
button{
  font-size:2em;
  background-color:green;
  color:white;
}*/
