#header img{
  width:100%;
  margin-top:-7%;
}
.navbar{
  margin-top:-4.5%;
  background-color:transparent !important;
  padding:0 !important;
  border:0 !important;
}
.navbar-nav{
  margin-left:15% !important;
}
.navbar-nav > li > a{
  color:#222 !important;
  font-size:1.1em;
  border-top:1px solid #222;
  border-bottom:1px solid #222;
}
.fa-paw{
  color:#222;
  margin-right:7px;
  font-size:1.5em !important;
}
