@font-face{
  font-family:workSansLight;
  src:url('../fonts/work-sans/WorkSans-Light.otf');
}
@font-face{
  font-family:crossroads;
  src:url('../fonts/Crossroads.ttf');
}
@font-face{
  font-family:cutouts;
  src:url('../fonts/CutOutsFLF.ttf');
}
body{

}
#header img{
  width:100%;
  margin-top:-7%;
  z-index:10;
}
.navbar{
  font-family:workSansLight;
  margin-top:-5%;
  background-color:transparent !important;
  padding:0 !important;
  border:0 !important;
}
.navbar-nav{
  margin-left:8% !important;
}
.navbar-nav > li > a{
  color:#222 !important;
  font-size:1.1em;
  border-top:1.4px solid #222;
  border-bottom:1.4px solid #222;
  cursor:pointer;
}
.fa-paw{
  color:#222;
  margin-right:7px;
  font-size:1.5em !important;
}
h1{
  font-family:crossroads !important;
  font-size:4em !important;
  color:navy !important;
}/*
div.gallery{
  margin:25px;
  border:1px solid #ccc;
  float:left;
}
div.gallery:hover{
  border:1px solid #666;
}
div.gallery img{
  width:205px;
  height:150px;
}
div.desc{
  padding:15px;
  text-align:center;
}
.gall{
  margin-left:10%;
  margin-top:3%;
  float:left;
  width:200px;
  border-bottom:1px solid #333;
  cursor:pointer;
}
.gall:hover{
  border:1px solid #333;
}
.gall img{
  width:100%;
  height:auto;
}
.des{
  padding:15px;
  text-align:center;
  font-family:workSansLight;
  font-size:1.4em;
}*/
