#parents{

}
#parents > img{
  float:left;
}
#parents > p{
  font-family:workSansLight;
  font-size:1.4em;
}
#parents > p > a{
  color:#f3f3f3;
}
#parents > .icons > a{
  font-size:2.5em;
  color:#f3f3f3;
  margin-left:20px;
}
.icons{
  margin-top:25px;
}
